doctype html
html(lang='en')
page.title
head
    block head
      title= 'Code snippets'
body 
block body 
    <html> <div role="main"></html>
    if view == 'Private'
        h1= view
        p Welcome #{email}
        form(action="/logout" method="GET")
            button(class="btn" type="submit" name="logout" id="logout") Logout
        div
        form(action="/add-item" method="POST")
            label(for="items") Add-item 
            input(type="text" name="items" id="items")
            input(class="btn", value="Add-item", type="submit")


    else 
        a(class='button' href='/login.html') Login   
        a(class='button', href='/register.html') Register
        div 
        h1= view
        
    
    ul
        each val in allSnippets
            li= val
